{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    {% for item in portfolio %}
    <tbody>
    <tr>
        <td>{{ item.symbol }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.shares }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
            <td class="border-0 text-end">{{ cash }}</td>
        </tr>
        <tr>
            <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
            <td class="border-0 text-end">{{ total }}</td>
        </tr>
    </tfoot>
</table>
{% endblock %}
